@page
@model Library.Pages.AdminProfileInfoModel
@{
    byte[] a;
}

@if ((!HttpContext.Session.TryGetValue("AdminId", out a)) && (!HttpContext.Session.TryGetValue("SystemAdminId", out a)))
{
    Response.Redirect("/Index");
}

<head>
    <title>Своят профил</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="container">
                <div style="text-align:left;margin-right:30px;">
                    <img id="logo" class="image-class" src="/Logo.png" width="50" />
                    <button onclick="contentVisibility()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation" style="text-align:right;margin:20px 20px 50px 10px;">
                        <img id="logo" class="image-class" src="/NavMenu.png" width="30" />
                    </button>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between position-absolute top-0 end-0">
                    <ul class="navbar-nav flex-grow-1" style="font-size:larger">
                        <li class="nav-item">
                            <a style="color:#2ECC71" class="nav-link" asp-page="/AdminLibraries">Библиотеки</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:#2ECC71" class="nav-link" asp-page="/AdminReaders">Читатели</a>
                        </li>
                        @if (LoginLibraryModel.loggedAdmin.Role == "1")
                        {
                            <li class="nav-item">
                                <a style="color:#2ECC71" class="nav-link" asp-page="/Admins">Администратори</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:#2ECC71" class="nav-link" asp-page="/AddAdmin">Нов администратор</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:#2ECC71" class="nav-link" asp-page="/NewVerCode">Нов код</a>
                            </li>
                        }
                        <li>
                            <div class="dropdown" style="margin-top:5px;">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#FAD7A0;color:black;">
                                    Профил
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="background-color:#FAD7A0;">
                                    <li><a class="dropdown-item" href='/AdminProfileInfo' style="margin-right:20px;text-align:center;">Информация за <br /> профила</a></li>
                                    <li><a class="dropdown-item" href='/LogoutAdmin' style="background-color:red;color:white">Излез от профила</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main id="content">
        <h1 style="text-align:center;margin-bottom:20px;">Информация за администратор</h1>

        @if (LoginLibraryModel.loggedAdmin.Role != "1")
        {
            <h4 style="text-align:center;color:red;">Ако искаш да изтриеш профила си на администратор,трябва да се обадиш на системния администратор.</h4>
            <br />
        }

        @if (Model.errorMessage.Length > 0)
        {
            <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                <strong>@Model.errorMessage</strong>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }
        @if (Model.successMessage.Length > 0)
        {
            <div class="row mb-3">
                <div class="col-sm-9">
                    <div class='alert alert-success alert-dismissible fade show' role='alert'>
                        <strong>@Model.successMessage</strong>
                    </div>
                </div>
            </div>
        }

        <form method="post" style="margin-bottom:500px;">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Име:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="name" value='@LoginLibraryModel.loggedAdmin.Name' />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Презиме:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="surname" value='@LoginLibraryModel.loggedAdmin.Surname' />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Фамилия:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="lastName" value='@LoginLibraryModel.loggedAdmin.LastName' />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Имейл:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="email" value='@LoginLibraryModel.loggedAdmin.Email' />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Телефон:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="phone" value='@LoginLibraryModel.loggedAdmin.Telephone' />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Потребителско име:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="userName" value='@LoginLibraryModel.loggedAdmin.UserName' />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Дата на заявката:</label>
                <div class="col-sm-6">
                    <label class="col-sm-3 col-form-label">@LoginLibraryModel.loggedAdmin.DateOfCreation</label>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Парола:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="password" value="@LoginLibraryModel.loggedAdmin.Password" id="myInput" /><br><br>
                    <p style="color:red">
                        Паролата трябва да съдържа поне:<br />
                        -една главна и една малка буква на български и латински<br />
                        -една цифра<br />
                        -един специален символ (#,?,!,$,^,&,* или -)<br />
                        -8+ символа дължина
                    </p>
                    <input type="checkbox" onclick="myFunction()" />Покажи паролата
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-3 col-sm-3 d-grid">
                    <button type="submit" class="btn btn-primary">ПОТВЪРДИ</button>
                </div>
                <div class="col-sm-3 d-grid">
                    <a class="btn btn-outline-primary" href="/AdminLibraries" role="button">ВЪРНИ СЕ НАЗАД</a>
                </div>
            </div>
        </form>
    </main>
    
</body>