@page
@model Library.Pages.CheckForBookModel
@{
    byte[] a;
}

@if (!HttpContext.Session.TryGetValue("LibraryId", out a))
{
    Response.Redirect("/Index");
}

<head>
    <title>Провери за книга</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container">
                <div style="text-align:left;">
                    <img id="logo" class="image-class" src="/Logo.png" width="50" />
                    <button onclick="contentVisibility()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation" style="text-align:right;margin:20px 20px 50px 10px;">
                        <img id="logo" class="image-class" src="/NavMenu.png" width="30" />
                    </button>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between position-absolute top-0 end-0">
                    <ul class="navbar-nav flex-grow-1" style="font-size:larger">
                        <li class="nav-item">
                            <a style="color:#2ECC71" class="nav-link" asp-page="/MainPage">Главно меню</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:#2ECC71" class="nav-link" asp-page="/AddBook">Добави книга</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:#2ECC71" class="nav-link" asp-page="/CheckForBook">Провери за книга</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:#2ECC71" class="nav-link" asp-page="/ReturnBookStep1">Върни книга</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:#2ECC71" class="nav-link" asp-page="/LibraryBooks">Книгите на библиотеката</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:#2ECC71" class="nav-link" asp-page="/DeductedBooksLibrary">Отчислени книги</a>
                        </li>
                        <li>
                            <div class="dropdown" style="margin-top:5px;">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#FAD7A0;color:black;">
                                    Профил
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="background-color:#FAD7A0;">
                                    <li><a class="dropdown-item" href='/LibraryProfileInformation' style="margin-right:20px;text-align:center;">Информация за <br /> профила</a></li>
                                    <li><a class="dropdown-item" href='/LogoutLibrary' style="background-color:red;color:white">Излез от профила</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="content">
        <h1 style="text-align:center">Провери за книга</h1>

        @if (Model.errorMessage.Length > 0)
        {
            <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                <strong>@Model.errorMessage</strong>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }
        @if (Model.successMessage.Length > 0)
        {
            <div class="row mb-3">
                <div class="col-sm-9">

                    <div class='alert alert-success alert-dismissible fade show' role='alert'>
                        <strong>@Model.successMessage</strong>
                        <a class='btn btn-primary btn-sm' onclick="showForm()">ПОКАЖИ РЕЗУЛТАТ</a>
                    </div>
                </div>
            </div>
        }

        <form id="check" method="post" style="margin-bottom:200px;">

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Заглавие на книга:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="title" value='""' />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Автор:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="author" value='' />
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-3 col-sm-3 d-grid">
                    <button type="submit" class="btn btn-primary">Провери</button>
                </div>
                <div class="col-sm-3 d-grid">
                    <a class="btn btn-outline-primary" href="/MainPage" role="button">ОТМЕНИ</a>
                </div>
            </div>

        </form>

        <form id="answer" style="display:none;margin-bottom:600px;" method="get">

            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>Инвентарен номер</th>
                        <th>Заглавие</th>
                        <th>Автор</th>
                        <th>Година на издаване</th>
                        <th>Сигнатура</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Library.Pages.CheckForBookModel.listBooks)
                    {
                        <tr>
                            <td>@book.InventoryNum</td>
                            <td>@book.Title</td>
                            <td>@book.Author</td>
                            <td>@book.Year</td>
                            <td>@book.Signature</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="/TakeBook?id=@book.Id">ВЗЕМИ</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row mb-3">
                <div class="col-sm-3 d-grid">
                    <a class="btn btn-outline-primary" href="/MainPage" role="button">ЗАТВОРИ</a>
                </div>
            </div>

        </form>
    </div>
</body>