@page
@model Library.Pages.DeductedBooksAdminModel
@{
    byte[] a;
}

@if ((!HttpContext.Session.TryGetValue("AdminId", out a)) && (!HttpContext.Session.TryGetValue("SystemAdminId", out a)))
{
    Response.Redirect("/Index");
}

<head>
    <title>Отчислени книги</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="container">
                <div style="text-align:left;margin-right:30px;">
                    <img id="logo" class="image-class" src="/Logo.png" width="50" />
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation" style="text-align:right;margin:20px 20px 50px 10px;">
                        <img id="logo" class="image-class" src="/NavMenu.png" width="30" />
                    </button>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between position-absolute top-0 end-0">
                    <ul class="navbar-nav flex-grow-1" style="font-size:larger">
                        <li class="nav-item">
                            <a style="color:#2ECC71" class="nav-link" asp-page="/AdminBooksOfLibrary">Книгите на библиотеката</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:#2ECC71" class="nav-link" asp-page="/DeductedBooksAdmin">Отчислени книги</a>
                        <li class="nav-item">
                            <a style="color:#2ECC71" class="nav-link" asp-page="/AdminAddBook">Добави книга</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:#2ECC71" class="nav-link" asp-page="/AdminReturnBookStep1">Върни книга</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <h1 style="text-align:center;">Отчислени книги</h1>

    @if (Model.errorMessage.Length > 0)
    {
        <div class='alert alert-warning alert-dismissible fade show' role='alert'>
            <strong>@Model.errorMessage</strong>
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    }

    <form method="get">
        <table class="table">
            <thead>
                <tr>
                    <th>Инвентарен номер</th>
                    <th>Заглавие</th>
                    <th>Автор</th>
                    <th>Година</th>
                    <th>Цена</th>
                    <th>Сигнатура</th>
                    <th>Инвентаризация</th>
                    <th>Отчисление</th>
                    <th>Дата на създаване</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Library.Pages.DeductedBooksAdminModel.listBooks)
                {
                    <tr>
                        <td>@book.InventoryNum</td>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.Year</td>
                        <td>@book.Price</td>
                        <td>@book.Signature</td>
                        <td>@book.Inventory</td>
                        <td>@book.Deduction</td>
                        <td>@book.DateOfCreation</td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</body>